#svg_container {
	margin-left: 10px;
	margin-right: 10px;
}



.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}


.country_text {
	font-family: helvetica, sans-serif;
	font-style: italic;
	font-size: 10px;
	fill: #0000FF;
}